<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logistic Regression</title>
</head>
<body>
    <div style="display: inline-block; *display: inline; vertical-align: top;">
        <div style="width: 300px; height: 400px; overflow-y: scroll; border-style: groove;">
            <h2> Selected Features </h2>
                {% for i in features %}
                    {{ i }}<br>
                {% endfor %}
        </div>

        <div style=" width: 300px; border-style: groove;">
            <h2> Selected Label </h2>
                {{ label }}<br>
        </div>
    </div>

    <div style="display: inline-block; *display: inline; vertical-align: top;">
        <div style="width: 1000px; height: 500px; overflow-y: scroll; border-style: groove;">
            <form  method="post" enctype="multipart/form-data" action="{{ model }}">
            {% csrf_token %}
                <h2>  SELECTED MODEL: {{ model }} </h2>
                <div style="display: inline-block; *display: inline; vertical-align: top;">
                    <table>
                        <tr>
                            <td> <strong> HYPER-PARAMETERS &nbsp;&nbsp;&nbsp;</strong> </td>
                            <td> <strong> VALUES &nbsp;&nbsp;&nbsp;</strong> </td>
                        </tr>
                        <tr>
                            <td> penalty </td>
                            <td>
                                <select name="penalty">
                                    <option value="l1" >l1</option>
                                    <option value="l2" selected>l2</option>
                                    <option value="elasticnet">elasticnet</option>
                                    <option value="none">none</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> dual </td>
                            <td>
                                <select name="dual">
                                    <option value="True" >True</option>
                                    <option value="False" selected>False</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>tol</td>
                            <td>
                                <input type="text" name="tol" value="1e-4" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td> C </td>
                            <td>
                                <input type="number" name="C" min="0.0" max="5.0" step="0.1" value="1.0">
                            </td>
                        </tr>
                        <tr>
                            <td> fit_intercept </td>
                            <td>
                                <select name="fit_intercept">
                                    <option value="True" selected>True</option>
                                    <option value="False" >False</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> intercept_scaling </td>
                            <td>
                                <input type="number" name="intercept_scaling" min="0.0" max="1.0" step="1.0" value="1.0">
                            </td>
                        </tr>
                        <tr>
                            <td> class_weight </td>
                            <td>
                                <input type="text" name="class_weight" value="None" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td> random_state </td>
                            <td>
                                <input type="text" name="random_state" value="None" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td> solver </td>
                            <td>
                                <select name="solver">
                                    <option value="newton-cg" >newton-cg</option>
                                    <option value="lbfgs" >lbfgs</option>
                                    <option value="liblinear" selected>liblinear</option>
                                    <option value="sag" >sag</option>
                                    <option value="saga" >saga</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> max_iter </td>
                            <td>
                                <input type="number" name="max_iter" min="10" max="200" step="10" value="100">
                            </td>
                        </tr>
                        <tr>
                            <td> multi_class </td>
                            <td>
                                <select name="multi_class">
                                    <option value="ovr" selected>ovr</option>
                                    <option value="multinomial" >multinomial</option>
                                    <option value="auto" >auto</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> verbose </td>
                            <td>
                                <input type="number" name="verbose" min="0" max="10" step="1" value="1">
                            </td>
                        </tr>
                        <tr>
                            <td> warm_start </td>
                            <td>
                                <select name="warm_start">
                                    <option value="True" >True</option>
                                    <option value="False" selected>False</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> n_jobs </td>
                            <td>
                                <input type="radio" name="n_jobs" value="None" checked>None<br>
                                <input type="radio" name="n_jobs" value="value"><input type="number" name="n_jobs_value" min="1" max="100" step="1" value="1">
                            </td>
                        </tr>
                        <tr>
                            <td> l1_ratio </td>
                            <td>
                                <input type="radio" name="l1_ratio" value="None" checked>None<br>
                                <input type="radio" name="l1_ratio" value="value"><input type="number" name="l1_ratio_value" min="1" max="100" step="1" value="1">
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="display: inline-block; *display: inline; vertical-align: top;">
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        TRAIN/TEST RATIO :: <input type="text" name="ratio" value="20">%</h4>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Cross-Validation folds :: <input type="number" name="cv" min="2" max="50" step="1" value="10"></h4>
                </div>
                <input type="hidden" name="features" value="{{ features }}">
                <input type="hidden" name="label" value="{{ label }}">
                <input type="hidden" name="filename" value="{{ filename }}">
                <button value="VALIDATE" type="submit" name="submit">VALIDATE</button>
                <button value="TRAIN" type="submit" name="submit">TRAIN</button>
                <button type="submit" name="submit" value="RandomSearch">Random Search CV</button>
            </form>
        </div>
    </div>
</body>
</html>