{% load app_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>

<h1>MODEL: {{ model }}</h1>
<h1>Cross Valiation Stats</h1>
<h1>Validation Scoring: {{ scoring }}</h1>
<table>
    <tr>
        <th>CV Step &nbsp;&nbsp;&nbsp;</th>
        <th>Score &nbsp;&nbsp;&nbsp;</th>
        <th>RMSE &nbsp;&nbsp;&nbsp;</th>
    </tr>
    {% for i in cv|entry_num_array %}
    <tr>
        <td>{{ cv_list|index:i }}</td>
        <td>{{ scores|index:i }}</td>
        <td>{{ rmse|index:i }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Mean:  {{ mean }}</h2>
<h2>Standard deviation:  {{ std }}</h2>

<input type=button value="Fine-Tune HyperParameter" onClick="javascript:history.go(-1);">
<!--<form method="post" enctype="multipart/form-data" action="{{ model }}">-->
<!--    {% csrf_token %}-->
<!--    <input type="submit" value="Train">-->
<!--</form>-->
</body>
</html>